{% set basePath='../../' %}
{% extends "index.jsp.twig" %}

{% block content %}

    {% set tableTile = table.name | humanize | titleize %}
    {% set actionTitle = action | humanize | titleize %}
    {% set tableSlug = table.name | dasherize %}
    {% set actionSlug = action | dasherize %}


    <div class="row">
            <div class="col-lg-7 col-lg-offset-2 col-sm-8 col-sm-offset-2">
                <div class="well">
                    <form class="form-horizontal" action="{{ basePath }}{{ tableSlug }}/{{ actionSlug }}" method="post">
                        <fieldset>
                            <legend>{% block title %}{{ action | humanize | titleize }} {{ table.name | humanize | titleize }}{% endblock %}</legend>

                            {% for field in table.fields %}
                                {% if field.isAutoIncrement==false %}
                                    {{ macro.getInput(field) }}
                                {% endif %}

                            {% endfor %}

                            <div class="form-group">
                                <div class="col-lg-9 col-lg-offset-3">
                                    <button class="btn btn-default">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">{{ actionTitle }}</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>


{% endblock %}