{% set basePath='../../' %}
{% extends "index.jsp.twig" %}


{% block content %}

    {% set tableTile = table.name | humanize | titleize %}
    {% set actionTitle = action | humanize | titleize %}
    {% set tableSlug = table.name | dasherize %}
    {% set actionSlug = action | dasherize %}


    {% set tableName = table.name | upperCamelize %}
    {% set tableDao = tableName ~  'Dao' %}
    {% set tableParam = table.name | camelize %}
    {% set tableParamList = tableParam | pluralize %}

    <div class="row">

        <jstl:choose>

            <jstl:when test="${{ '{' }}param.resultado == 'correcto'{{ '}' }}">
                <div class="alert alert-success">
                    Petición ejecutada correctamente.
                </div>
            </jstl:when>

            <jstl:when test="${{ '{' }}param.resultado == 'error'{{ '}' }}">
                <div class="alert alert-danger">
                    Error al Ejecutar la petición.
                </div>
            </jstl:when>
            <jstl:when test="${{ '{' }}param.resultado == 'no-existe'{{ '}' }}">
                <div class="alert alert-danger">
                    No existe el Registro
                </div>
            </jstl:when>
        </jstl:choose>

        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1>{% block title %}{{ action | humanize | titleize }} {{ table.name | humanize | titleize  | pluralize }}{% endblock %}</h1>
                </div>

                <div class="col-lg-24">
                    <div class="form-group col-md-8 col-sm-7">
                        <div class="row">
                            <form action="forms/{{ tableSlug }}/buscar.jsp" method="get">
                                <span class="col-md-4 col-sm-5">
                                  <button class="btn btn-default btn-block" type="submit">Buscar</button>
                                </span>
                                <span class="col-md-8 col-sm-7">
                                     <input type="text" name="q" placeholder="Buscar {{ tableTile }}"
                                            class="form-control">
                                </span>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-2 col-sm-offset-2 col-sm-3">
                        <div class="row">
                            <a class="btn btn-primary btn-block" href="forms/{{ tableSlug }}/registrar.jsp">Crear</a>
                        </div>
                    </div>

                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                        <tr>
                            {% for field in table.fields %}
                                {% if field.isForeign %}
                                    {% set fieldTitle = field.reference.table | humanize | titleize %}
                                {% else %}
                                    {% set fieldTitle = field.name | humanize | titleize %}
                                {% endif %}
                                <th>{{ fieldTitle }}</th>
                            {% endfor %}
                            <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody>

                        <jsp:useBean id="{{ tableDao }}" scope="application" class="Dao.{{ tableDao }}"/>
                        <jstl:set var="{{ tableParamList }}" value="${{ '{' }}{{ tableDao }}.listar(){{ '}' }}"/>

                        <jstl:forEach var="{{ tableParam }}" items="${{ '{' }}{{ tableParamList }}{{ '}' }}">
                            <tr>
                                {% for field in table.fields %}
                                    {% if field.isForeign %}
                                        <td>${{ '{' }}{{ tableParam }}.{{ field.name | camelize }}{{ '}' }}</td>
                                    {% else %}
                                        <td>${{ '{' }}{{ tableParam }}.{{ field.name | camelize }}{{ '}' }}</td>
                                    {% endif %}
                                {% endfor %}
                                <td>
                                    <a class="btn btn-danger pull-right"
                                       href="forms/{{ tableSlug }}/eliminar.jsp?{{ table.primaryField.name }}=${{ '{' }}{{ tableParam }}.{{ table.primaryField | camelize }}{{ '}' }}">Eliminar</a>
                                    <a class="btn btn-info pull-right"
                                       href="forms/{{ tableSlug }}/modificar.jsp?{{ table.primaryField.name }}=${{ '{' }}{{ tableParam }}.{{ table.primaryField | camelize }}{{ '}' }}">Modificar</a>
                                </td>

                            </tr>
                        </jstl:forEach>

                        </tbody>
                    </table>
                </div>
                <!-- /example -->
            </div>
        </div>


    </div>


{% endblock %}