{% import "macros.twig" as macro %}


{% set tableName = table.name | upperCamelize %}
{% set tableParam = table.name | camelize %}

{% set tableDaoName = tableName ~ 'Dao' %}
{% set tableDaoParam = tableParam ~ 'Dao' %}

{% set actionParam = action | camelize %}
{% set actionSlug = action | dasherize %}

{% set tableSlug = table.name | dasherize %}
{% set nameServlet = (action | upperCamelize)  ~ tableName %}

package Servlet.{{ tableName }};

import java.io.*;
import java.util.*;
import javax.servlet.*;
import javax.servlet.annotation.*;
import javax.servlet.http.*;
import java.text.*;

import Model.{{ tableName }};
import Dao.{{ tableDaoName }};

{% for field in table.foreignFields  %}
    import Model.{{ field.reference.table | upperCamelize }};
{% endfor %}

@WebServlet(name = "{{ nameServlet }}", urlPatterns = {"/{{ tableSlug }}/{{ actionSlug }}"})
public class {{ nameServlet }} extends HttpServlet {

    private static final String REDIRECT_URL = "/{{ tableSlug }}/{{ actionSlug }}.jsp";

    /**
     * Processes requests for both HTTP
     * <code>GET</code> and
     * <code>POST</code> methods.
     *
     * @param request servlet request
     * @param response servlet response
     * @throws ServletException if a servlet-specific error occurs
     * @throws IOException if an I/O error occurs
     */
    protected void processRequest(HttpServletRequest request, HttpServletResponse response)
            throws ServletException, IOException {

        {% block request %}
            response.setContentType("text/html;charset=UTF-8");
            PrintWriter out = response.getWriter();
            try {
                out.println("<!DOCTYPE html>");
                out.println("<html>");
                out.println("<head>");
                out.println("<title>Servlet {{ nameServlet }}</title>");
                out.println("</head>");
                out.println("<body>");
                out.println("<h1>Servlet {{ nameServlet }} at " + request.getContextPath() + "</h1>");
                out.println("</body>");
                out.println("</html>");
            } finally {
                 out.close();
            }
        {% endblock  %}

        
    }

    // <editor-fold defaultstate="collapsed" desc="HttpServlet methods. Click on the + sign on the left to edit the code.">
    /**
     * Handles the HTTP
     * <code>GET</code> method.
     *
     * @param request servlet request
     * @param response servlet response
     * @throws ServletException if a servlet-specific error occurs
     * @throws IOException if an I/O error occurs
     */
    @Override
    protected void doGet(HttpServletRequest request, HttpServletResponse response)
            throws ServletException, IOException {
        {% block get %}
            processRequest(request, response);
        {% endblock  %}
    }

    /**
     * Handles the HTTP
     * <code>POST</code> method.
     *
     * @param request servlet request
     * @param response servlet response
     * @throws ServletException if a servlet-specific error occurs
     * @throws IOException if an I/O error occurs
     */
    @Override
    protected void doPost(HttpServletRequest request, HttpServletResponse response)
            throws ServletException, IOException {

        {% block post %}
            processRequest(request, response);
        {% endblock  %}

    }

    /**
     * Returns a short description of the servlet.
     *
     * @return a String containing servlet description
     */
    @Override
    public String getServletInfo() {
        return "Short description";
    }// </editor-fold>
}
